


@media screen and (min-width: 768px) {
    .at-laptop-hidden {
        visibility: hidden;
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .at-desktop-hidden {
        visibility: hidden;
        display: none;
    }
}

.at-laptop-visible{
    display: none;
}
@media screen and (min-width: 768px) {
    .at-laptop-visible {
        visibility: visible;
        display: block;
    }
}

.at-desktop-visible{
    display: none;
}
@media screen and (min-width: 1024px) {
    .at-desktop-visible {
        visibility: visible;
        display: block;
    }
}


.at-desktop-row{
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .at-desktop-row {
        flex-direction: row;
        align-items: flex-start;
    }
}